{% extends "misc/base.twig" %}
{%- block Container -%}
    <div class="padding">
        <h3><i class="far fa-wrench"></i> admin panel</h3>
    </div>
    <hr>
    <div class="padding no-padding-top no-padding-bottom">
        <div class="left padding-top padding-bottom">
            <div class="bold">unmoderated css</div><br>
            {% for User in Users %}
                {% if User.id is defined %}
                    <div class="user-card admin-panel-exclusive wide block">
                        <img class="profile-picture" src="/cdn/{{ User.profile_picture }}">
                        <div class="user-metadata inline-block top">
                            <a href="/user/{{ User.username }}"><b>{{ User.nickname }}</b></a>
                            <span class="caption inline-block">@{{ User.username }}</span><br>
                            <span class="caption">joined {{ User.created|timeago }}</span><br>
                            <span class="caption">last online {{ User.last_login|timeago }}</span>
                            <a href="/user/{{ User.username }}?unmoderated">
                            <button 
                                class="button left" 
                                aria-label="Follow">
                                view profile
                            </button>
                            </a>
                            <button 
                                class="button moderate left"
                                data-moderation-type="css"
                                data-moderation-action="disapprove"
                                data-moderation-target="{{ User.id }}" 
                                aria-label="Follow">
                                disapprove
                            </button>
                            <button 
                                class="button moderate left" 
                                data-moderation-type="css"
                                data-moderation-target="{{ User.id }}" 
                                data-moderation-action="approve"
                                aria-label="Follow">
                                approve
                            </button>
                            
                        </div>
                    </div><br>
                {% endif %}
            {% endfor %}
        </div>

        <div class="right padding-top padding-bottom">
            <div class="bold">reset user, pfp, banner, bio, nickname</div>
            <form class="form" method="post" action="/moderate/user/reset">
                <div class="input-group">
                    <label for="username">username</label>
                    <input type="text" id="username" required name="username" aria-label="username">
                </div>
                <input type="submit" value="reset" aria-label="Set">
            </form>
        </div>

        <div class="right padding-bottom">
            <div class="bold">ban user</div>
            <form class="form" method="post" action="/moderate/user/ban">
                <div class="input-group">
                    <label for="username">username</label>
                    <input type="text" id="username" placeholder="witter" required name="username" aria-label="username">
                </div>
                <div class="input-group">
                    <label for="reason">reason</label>
                    <input type="text" id="reason" placeholder="gay" required name="reason" aria-label="reason">
                </div>
                <div class="input-group">
                    <label for="content">offending content (space delimited)</label>
                    <input type="text" placeholder="weet url (not required)" id="content" name="content" aria-label="content">
                </div>
                <div class="input-group">
                    <label for="until">ban until</label>
                    <input type="date" id="until" required name="until" aria-label="until">
                </div>
                <input type="submit" value="ban" aria-label="Set">
            </form>
        </div>

        <div class="right padding-top padding-bottom">
            <div class="bold">unban user</div>
            <form class="form" method="post" action="/moderate/user/unban">
                <div class="input-group">
                    <label for="username">username</label>
                    <input type="text" id="username" required name="username" aria-label="username">
                </div>
                <input type="submit" value="unban" aria-label="Set">
            </form>
        </div>
    </div>
{% endblock %}