{% extends "misc/base.twig" %}
{%- block Header -%}
    {{ parent() }}
    <script src="/scripts/no-header-d.js"></script>
{% endblock %}
{%- block Container -%}
    <div class="padding no-padding-bottom no-padding-top">
        <h1 class="bold inline-block padding-top">witter</h1><br>
        <h3 class="inline-block padding-top padding-bottom-5">your account has been banned</h3><br>
        <div class="padding-bottom caption inline-block">expires: {{ Ban.until }} </div>
    </div>
    <hr>
    <div class="padding">
        <b class="inline-block padding-bottom-5">reason:</b><div>{{ Ban.reason }}</div><br>
        <b>offending content: </b>
        {% for Weet in Ban.weets %}
            <div class="reweet padding" data-target-url="/user/{{Weet.user.username }}/{{ Weet.feed_id }}">
                <b class="comment-author">{{ Weet.user.nickname }}</b> <span class="fake-link">@{{ Weet.user.username }}</span><br>
                <span class="comment-text inline-block">{{ Weet.feed_text|escape|linkify|mentionify|raw|nl2br }}</span>
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="padding">
        {% if isAppealable %}
            <a href="/actions/user/request_unban">
                reactivate your account
            </a>
        {% else %}
            <a href="{{ discordURL }}">appeal your ban</a> or <a href="/sign_out">log out</a> <br>
            <div class="caption inline-block padding-top">you still cannot reactivate your account at this time</div>
        {% endif %}
    </div>
{% endblock %}