{% extends "misc/base.twig" %}
{%- block Container -%}
    <div class="padding">
        <div class="tab-group">
            <a href="/feed"><div class="tab {% if ActiveTab == 'all' %}primary{% endif %}">all</div></a>
            <a href="/feed/following"><div class="tab {% if ActiveTab == 'following' %}primary{% endif %}">following</div></a>
            <a href="/feed/trending"><div class="tab {% if ActiveTab == 'trending' %}primary{% endif %}">trending</div></a>
        </div>
    </div>
    <hr class="wide">
    <div class="feed-create-form padding">
        <h3>create a weet</h3>
        <form class="form" method="post" action="/feed">
            <div class="input-group">
                <textarea type="text" id="js_comment" class="full" required placeholder="today i ..." name="comment" aria-label="Weet">{{ Args.intent }}</textarea>
            </div>
            <span class="caption"><span id="js_char_remaining">200</span> characters left</span>
            <button class="inline-block add-attachment" type="button"><i class="far fa-plus"></i></button>
            <input type="submit" value="post" id="js_submit" aria-label="Post">
        </form>
    </div>
    <hr>
    <div class="padding overflow-unset no-padding-top">
        {% if not Weet.user.visible %}    
            {% for Weet in Feed %}
                {% if Weet.id is defined and Weet.user.visible %}
                    <div class="weet" data-weet-id={{ Weet.feed_id}}>
                        <div class="inline-block padding top">
                            <img src="/cdn/{{ Weet.user.profile_picture }}" class="profile-picture">
                        </div>
                        <div class="comment-body inline-block padding overflow-unset">
                            <span class="comment-info inline-block">
                                <a href="/user/{{ Weet.user.username }}"><b class="comment-author">{{ Weet.user.nickname }}</b> @{{ Weet.user.username }}</a> {% if Weet.user.private == 't' %}<i class="far fa-lock"></i>{% endif %}
                                <span class="caption">{{ Weet.feed_created|timeago }}</span>
                            </span>

                            <div class="dropdown inline-block float-right bottom">
                                <div class="dropdown-show"></div>
                                <div class="dropdown-content">
                                    {% if Weet.user.username != Session.Handle %}
                                        <a href="#" class="block-user-action" data-target="{{ Weet.user.id }}">block <b>@{{ Weet.user.username }}</b></a>
                                    {% else %}
                                        <span class="delete-weet-action" data-target="{{ Weet.feed_id }}">delete weet</span>
                                    {% endif %}
                                </div>
                            </div>

                            <span class="comment-text inline-block">{{ Weet.feed_text|escape|linkify|mentionify|raw|nl2br }}</span>
                            {% if Weet.reweet is defined %}
                                <div class="reweet padding" data-target-url="/user/{{Weet.reweet.user.username }}/{{ Weet.reweet.feed_id }}">
                                    <b class="comment-author">{{ Weet.reweet.user.nickname }}</b> <span class="fake-link">@{{ Weet.reweet.user.username }}</span><br>
                                    <span class="comment-text inline-block">{{ Weet.reweet.feed_text|escape|linkify|mentionify|raw|nl2br }}</span>
                                </div>
                            {% endif %}
                            <div class="comment-actions">
                                <a href="/user/{{ Weet.user.username }}/{{ Weet.feed_id }}">
                                    <span class="comment-action inline-block">
                                        <span class="comment-action-text">{{ Weet.replies }}</span> 
                                        <i class="far fa-comment"></i>
                                    </span>
                                </a>
                                <a href="/feed?intent=%0A%0Ahttps://genericlink.com/user/{{ Weet.user.username }}/{{ Weet.feed_id }}">
                                    <span class="comment-action inline-block">
                                        <span class="comment-action-text">{{ Weet.feed_reweets }}</span> 
                                        <i class="far fa-retweet"></i>
                                    </span>
                                </a>
                                <span class="comment-action comment_like inline-block {% if Weet.liked %}active{% endif %}" data-comment-id="{{ Weet.feed_id }}">
                                    <span class="comment-action-text">{{ Weet.likes }}</span> 
                                    <i class="far fa-thumbs-up"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if Feed|length == 0 %}
            <br>
            <div class="center caption padding-top padding-bottom">
                {% if ActiveTab == 'all' %}
                    There appears to be no Weets in your feed.
                {% elseif ActiveTab == 'following' %}
                    There appears to be no Weets in your following feed. Follow some people!
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}