{% extends "base.twig" %}
{%- block Container -%}
    <div class="padding">
        <div class="tab-group">
            <a href="#"><div class="tab primary">all</div></a>
            <a href="#"><div class="tab">following</div></a>
        </div>
    </div>
    <hr>
    <div class="padding">
        <h3>create a weet</h3>
        <form class="form" method="post" action="/feed">
            <div class="input-group">
                <textarea type="text" id="js_comment" class="full" required placeholder="today i ..." name="comment" aria-label="Weet"></textarea>
            </div>
            <span class="caption"><span id="js_char_remaining">200</span> characters left</span>
            <input type="submit" value="post" id="js_submit" aria-label="Post">
        </form>
    </div>
    <hr>
    <div class="padding no-padding-top">
        {% for Weet in Feed %}
            {% if Weet.id is defined %}
                <div class="weet">
                    <div class="inline-block padding top">
                        <img src="/cdn/{{ Weet.user.profile_picture }}" class="profile-picture">
                    </div>
                    <div class="comment-body inline-block padding">
                        <span class="comment-info inline-block">
                            <a href="/user/{{ Weet.user.username }}"><b class="comment-author">{{ Weet.user.nickname }}</b> @{{ Weet.user.username }}</a>
                            <span class="caption">{{ Weet.feed_created|timeago }}</span>
                        </span>
                        <span class="comment-text inline-block">{{ Weet.feed_text|nl2br }}</span>
                        <div class="comment-actions">
                            <a href="/{{ Weet.user.username }}/weet/{{ Weet.id }}">
                                <span class="comment-action inline-block">
                                    <span class="comment-action-text">0</span> 
                                    <i class="far fa-comment"></i>
                                </span>
                            </a>
                            <span class="comment-action comment_like inline-block {% if Weet.liked %}active{% endif %}" data-comment-id="{{ Weet.id }}">
                                <span class="comment-action-text">{{ Weet.likes }}</span> 
                                <i class="far fa-thumbs-up"></i>
                            </span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <script>
        let characters = 200;
        let characterCounter = $('span#js_char_remaining');
        let submitButton = $('#js_submit')

        $("#js_comment").on('input', function() {
            let value = $('textarea#js_comment').val()
            let charactersLeft = characters - value.length;

            characterCounter.text(charactersLeft);

            if(charactersLeft < 0) {
                characterCounter.css("color", "darkred");
                submitButton.prop("disabled", true);
            } else {
                characterCounter.css("color", "unset");
                submitButton.prop("disabled", false);
            }
        });
    </script>
{% endblock %}