{% extends "base.twig" %}
{%- block Header -%}
    {{ parent() }}
    {#- This is fucking TERRIBLE! -#}
    <script src="/scripts/no-header.js"></script>
    <link href="/cdn/css/{{ User.username_md5 }}" rel="stylesheet">
{% endblock %}
{%- block Container -%}
    <style>
        /*  TODO: Don't inline style any of this stuff!
                  Put all user CSS in a MD5 hashed thingymcbob,
                  could just be a hash of their username then
                  accessible by /css/.
        */

        #banner {
            background-color: #e1e1e1;
            background-image: url("/cdn/{{ User.banner }}");
            border-bottom: var(--primary-border-color);
        }

        .user-album-container {

        }
    </style>
    <div class="alternative-header">
        <h3 class="inline-block"><a href="/">witter</a></h3>
        <div class="links inline-block float-right no-border-left">
            <a href="/user/{{ Session.Handle }}">@{{ Session.Handle }}</a>
            <a href="/feed">feed</a>
            <a href="/settings">settings</a>
        </div>
    </div>
    <div class="padding header user-header" id="banner">
        <!-- TODO: This looks extremely ugly on the templating side. Don't do this! -->
        <div class="header-items right">
            <a href="/"><h1>[witter]</h1></a>
            <div class="right align-right">
                {% if Session.Handle is not defined %}
                    <a href="/users">users</a>
                    <a href="/feed">feed</a>
                    <a href="/">login</a>
                {% else %}
                    <a href="/user/{{ Session.Handle }}">@{{ Session.Handle }}</a>
                    <a href="/feed">feed</a>
                    <a href="/settings">settings</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="padding user-panel">
        <div class="user-card wide">
            <img class="profile-picture" src="/cdn/{{ User.profile_picture }}">
            <div class="user-metadata inline-block top">
                <b>{% if User.private == 't' %}<i class="far fa-lock"></i>{% endif %} {{ User.nickname }}</b>
                <span class="caption inline-block">@{{ User.username }}</span><br>
                <span class="caption">joined {{ User.created|timeago }}</span><br>
                <span class="caption">last online {{ User.last_login|timeago }}</span>
                <button 
                    class="button left follow_button" 
                    {% if Session.Handle == User.username %}
                    disabled
                    title="You cannot follow yourself!"
                    {% endif %}
                    data-following="{% if User.following and Session.Handle != User.username %}true{% else %}false{% endif %}" 
                    data-follow-target="{{ User.id }}" 
                    aria-label="Follow">
                    {% if User.following and Session.Handle != User.username %}unfollow{% else %}follow{% endif %}
                </button>
            </div>
        </div>

        <div class="tab-group">
            <a href="/user/{{ User.username }}"><div class="tab {% if ActiveTab == 'all' %}primary{% endif %}">weets</div></a>
            <a href="/media/{{ User.username }}"><div class="tab {% if ActiveTab == 'media' %}primary{% endif %}">media</div></a>
            <a href="/likes/{{ User.username }}"><div class="tab {% if ActiveTab == 'likes' %}primary{% endif %}">liked weets</div></a>
        </div>
    </div>
    <div class="padding user-infobox">
        <div class="user-description">
            <span class="caption">{{ User.description }}</span>
        </div>
        <div class="user-follow-metric">
            <span class="caption"><b><a class="keep-color" href="/user/followers/{{ User.username }}">{{ User.metrics.follower_count|number_format }}</b> follower(s), </a></span>
            <span class="caption"><b><a class="keep-color" href="/user/following/{{ User.username }}">{{ User.metrics.following_count|number_format }}</b> following</a></span>
        </div>
    </div>
    <hr>
    <div class="padding">
        <div class="followers-following-list">
            {# this is stupid and gay and stupid #}
            {% for User in Followers %}
                {% if User.id is defined %}
                    <div class="user-card wide" data-target-url="/user/{{ User.username }}/">
                        <img class="profile-picture" src="/cdn/{{ User.profile_picture }}">
                        <div class="user-metadata inline-block top">
                            <b>{% if User.private == 't' %}<i class="far fa-lock"></i>{% endif %} {{ User.nickname }}</b>
                            <span class="caption inline-block">@{{ User.username }}</span><br>
                            <span class="caption">joined {{ User.created|timeago }}</span><br>
                            <span class="caption">last online {{ User.last_login|timeago }}</span>
                            <button 
                                class="button left follow_button" 
                                {% if Session.Handle == User.username %}
                                disabled
                                title="You cannot follow yourself!"
                                {% endif %}
                                data-following="{% if User.following and Session.Handle != User.username %}true{% else %}false{% endif %}" 
                                data-follow-target="{{ User.id }}" 
                                aria-label="Follow">
                                {% if User.following and Session.Handle != User.username %}unfollow{% else %}follow{% endif %}
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {% for User in Following %}
                {% if User.id is defined %}
                    <div class="user-card wide" data-target-url="/user/{{ User.username }}/">
                        <img class="profile-picture" src="/cdn/{{ User.profile_picture }}">
                        <div class="user-metadata inline-block top">
                            <b>{% if User.private == 't' %}<i class="far fa-lock"></i>{% endif %} {{ User.nickname }}</b>
                            <span class="caption inline-block">@{{ User.username }}</span><br>
                            <span class="caption">joined {{ User.created|timeago }}</span><br>
                            <span class="caption">last online {{ User.last_login|timeago }}</span>
                            <button 
                                class="button left follow_button" 
                                {% if Session.Handle == User.username %}
                                disabled
                                title="You cannot follow yourself!"
                                {% endif %}
                                data-following="{% if User.following and Session.Handle != User.username %}true{% else %}false{% endif %}" 
                                data-follow-target="{{ User.id }}" 
                                aria-label="Follow">
                                {% if User.following and Session.Handle != User.username %}unfollow{% else %}follow{% endif %}
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if Followers|length == 0 and Followers is defined %}
            <div class="center caption padding-top padding-bottom">
                This user has no followers.
            </div>
        {% endif %}
        {% if Following|length == 0 and Following is defined %}
            <div class="center caption padding-top padding-bottom">
                This user is not following anybody.
            </div>
        {% endif %}
    </div>
{% endblock %}