{% extends "base.twig" %}
{%- block Header -%}
    <script>$(".header-container").css("display", "none");</script>
{% endblock %}
{%- block Container -%}
    <style>
        /*  TODO: Don't inline style any of this stuff!
                  Put all user CSS in a MD5 hashed thingymcbob,
                  could just be a hash of their username then
                  accessible by /css/.
        */

        #banner {
            background-image: url("/cdn/{{ User.banner }}");
            border-bottom: var(--primary-border-color);
        }

        .user-album-container {

        }
    </style>
    <div class="alternative-header">
        <h3 class="inline-block"><a href="/">witter</a></h3>
        <div class="links inline-block float-right no-border-left">
            <a href="/user/{{ Session.Handle }}">@{{ Session.Handle }}</a>
            <a href="/feed">feed</a>
            <a href="/settings">settings</a>
        </div>
    </div>
    <div class="padding header user-header" id="banner">
        <!-- This looks extremely ugly on the templating side. Don't do this! -->
        <div class="header-items right">
            <a href="/"><h1>[witter]</h1></a>
            <div class="right align-right">
                {% if Session.Handle is not defined %}
                    <a href="/users">users</a>
                    <a href="/feed">feed</a>
                    <a href="/">login</a>
                {% else %}
                    <a href="/user/{{ Session.Handle }}">@{{ Session.Handle }}</a>
                    <a href="/feed">feed</a>
                    <a href="/settings">settings</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="padding user-panel">
        <div class="user-card wide">
            <img class="profile-picture" src="/cdn/{{ User.profile_picture }}">
            <div class="user-metadata inline-block top">
                <b>{{ User.nickname }}</b>
                <span class="caption inline-block">@{{ User.username }}</span><br>
                <span class="caption">joined {{ User.created|timeago }}</span><br>
                <span class="caption">last online {{ User.last_login|timeago }}</span>
                <button class="button left" id="follow_button" follow_target="{{ User.id }}" aria-label="Follow">follow</button>
            </div>
        </div>

        <div class="tab-group">
            <a href="#"><div class="tab primary">weets</div></a>
            <a href="#"><div class="tab">media</div></a>
            <a href="#"><div class="tab">liked weets</div></a>
        </div>
    </div>
    <hr>
    <div class="padding user-album-container">
        <div class="user-album">
            <div class="album-cover">
                <img src="https://media.discordapp.net/attachments/1081103238838882378/1106451459878436975/8ef6da34afff11bbe4bf08c58070cd6a.png">
            </div>
            <div class="album-metadata top inline-block">
                <div class="song-title bold">Didn't Cha Know <span class="caption">(scrobbled 3 minutes ago)</span></div>
                <div class="album-title">Mama's Gun</div>
                <div class="artist-title">Erykah Badu</div>
            </div>
            <div class="right no-border-left">
                <button>play on spotify</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="padding user-description">
        <div class="bold">{{ User.nickname }}'s description</div>
        <span class="caption">{{ User.description }}</span>
    </div>
    <hr>
    <div class="padding">
        {% for Weet in Feed %}
            {% if Weet.id is defined %}
                <div class="weet">
                    <div class="inline-block padding top">
                        <img src="/cdn/{{ Weet.user.profile_picture }}" class="profile-picture">
                    </div>
                    <div class="comment-body inline-block padding">
                        <span class="comment-info inline-block">
                            <a href="/user/{{ Weet.user.username }}"><b>{{ Weet.user.nickname }}</b> @{{ Weet.user.username }}</a>
                            <span class="caption">{{ Weet.feed_created|timeago }}</span>
                        </span>
                        <span class="comment-text inline-block">{{ Weet.feed_text }}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if Feed|length == 0 %}
            <div class="center caption padding-top padding-bottom">
                This user has no Weets.
            </div>
        {% endif %}
    </div>
{% endblock %}