<!DOCTYPE html>
<html lang="en">
    <head>
        {% block Head %}
            <title>Witter - {{ PageSettings.PageTitle|escape }}</title>
            <meta property="og:title" content="{{ PageSettings.PageTitle|escape }}" />
            <meta property="og:description" content="{{ PageSettings.PageDescription|escape }}" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="Content-Security-Policy" content="default-src 'self' unpkg.com *.google.com *.googleapis.com *.cloudflare.com *.githack.com *.gstatic.com *.cloudflare.com; font-src 'self' *.jsdelivr.net *.githack.com *.cloudflare.com data: *.googleapis.com *.gstatic.com *.fontawesome.com ; img-src 'self' *.fastly.net data: wsrv.nl images.weserv.nl; style-src 'self' cdn.jsdelivr.net *.gstatic.com *.cloudflare.com;">

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>       
            <script src="/scripts/base.js"></script>
            <script src="/scripts/alert.js"></script>
            {% if isAdmin %}
            <script src="/scripts/admin.js"></script>
            {% endif %}

            <link href="/styles/base.css" rel="stylesheet" />
            <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" rel="stylesheet" />
            <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        {% block Header %}
            {% include 'includes/Header.twig' %}
        {% endblock %}

        <div class="container alert-success" id="js_alert">
            <span class="padding inline-block">
                Witter is currently a public beta! Want to report bugs or have any suggestions? Join our <a href="https://discord.gg/3M9BrQtPHd">Discord</a>!
            </span>
        </div>

        {% if hasDisprovenCSS %}
            <div class="container alert-error height-unset" id="js_alert">
                <span class="padding inline-block">
                    <b class="color-unset">Your CSS has been refused to be approved. </b><br>
                    <span class="caption">
                    Your CSS may not have been approved for these following reasons:<br>
                    - contained flashing lights or obnoxious colors / patterns.<br>
                    - contained NSFW / grotesque content.<br><br>
                    Please revise your CSS, then submit again to get rid of this message.
                    </span>
                </span>
            </div>
        {% endif %}

        {% if Ban is defined and Ban.id is defined and currentPath != "/user_banned" %}
            <div class="container alert-error" id="js_alert">
                <span class="padding inline-block">
                    This user's account has been suspended.
                </span>
            </div>
        {% endif %}

        {% if Session.Alert is defined %}
            {% for Alert in Session.Alert %}
                <div class="container alert-{{ Alert.Type }}" id="js_alert">
                    <span class="padding inline-block">
                        {{ Alert.Message|raw }}
                    </span>
                </div>
            {% endfor %}
        {% endif %}

        <div class="container">
            {% block Container %}{% endblock %}
        </div>

        {% block Footer %}
            {% include 'includes/Footer.twig' %}
        {% endblock %}
    </body>
</html>
