{% extends "misc/base.twig" %}
{%- block Header -%}
    {{ parent() }}
    {#- This is fucking TERRIBLE! -#}
    <script src="/scripts/no-header.js"></script>
    <link href="/cdn/css/{{ User.username_md5 }}" rel="stylesheet">
{% endblock %}
{%- block Container -%}
    <div class="alternative-header">
        <h3 class="inline-block"><a href="/">witter</a></h3>
        <div class="links inline-block float-right no-border-left">
            <a href="/user/{{ Session.Handle }}">@{{ Session.Handle }}</a>
            <a href="/feed">feed</a>
            <a href="/settings">settings</a>
        </div>
    </div>
    <div class="padding header user-header" id="banner">
        <!-- TODO: This looks extremely ugly on the templating side. Don't do this! -->
        <div class="header-items right">
            <a href="/"><h1>[witter]</h1></a>
            <div class="right align-right">
                {% if Session.Handle is not defined %}
                    <a href="/users">users</a>
                    <a href="/feed">feed</a>
                    <a href="/">login</a>
                {% else %}
                    <a href="/user/{{ Session.Handle }}">@{{ Session.Handle }}</a>
                    <a href="/feed">feed</a>
                    <a href="/settings">settings</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="padding user-panel">
        <div class="user-card wide">
            <img class="profile-picture" src="/cdn/{{ Weet.user.profile_picture }}">
            <div class="user-metadata inline-block top">
                <b>{% if Weet.user.private == 't' %}<i class="far fa-lock"></i>{% endif %} {{ Weet.user.nickname }}</b>
                <span class="caption inline-block">@{{ Weet.user.username }}</span><br>
                <span class="caption">joined {{ Weet.user.created|timeago }}</span><br>
                <span class="caption">last online {{ Weet.user.last_login|timeago }}</span>
                <button 
                    class="button left follow_button" 
                    {% if Session.Handle == User.username %}
                    disabled
                    title="You cannot follow yourself!"
                    {% endif %}
                    data-following="{% if User.following and Session.Handle != User.username %}true{% else %}false{% endif %}" 
                    data-follow-target="{{ User.id }}" 
                    aria-label="Follow">
                    {% if User.following and Session.Handle != User.username %}unfollow{% else %}follow{% endif %}
                </button>
            </div>
        </div>

        <div class="tab-group">
            <a href="/user/{{ Weet.user.username }}"><div class="tab {% if ActiveTab == 'all' %}primary{% endif %}">weets</div></a>
            <a href="/media/{{ Weet.user.username }}"><div class="tab {% if ActiveTab == 'media' %}primary{% endif %}">media</div></a>
            <a href="/likes/{{ Weet.user.username }}"><div class="tab {% if ActiveTab == 'likes' %}primary{% endif %}">liked weets</div></a>
        </div>
    </div>
    <div class="padding user-infobox">
        <div class="user-description">
            <span class="caption">{{ Weet.user.description }}</span>
        </div>
        <div class="user-follow-metric">
            <span class="caption"><b><a class="keep-color" href="/user/followers/{{ Weet.user.username }}">{{ Weet.user.metrics.follower_count|number_format }}</b> follower(s), </a></span>
            <span class="caption"><b><a class="keep-color" href="/user/following/{{ Weet.user.username }}">{{ Weet.user.metrics.following_count|number_format }}</b> following</a></span>
        </div>
    </div>
    
    <hr>
    <div class="padding no-overflow no-padding-top {% if Reply %}reply-chain{% endif %}">
        {% if Reply %}
            {% set WeetOwner = Weet.user.username %}
            {# Shouldn't be doing this #}
            {% for Weet in FullThread %}
                {% if Weet.id is defined %}
                    {# Shouldn't even be doing this #}
                    {% if Weet.reply == true %}
                        <div class="weet">
                            <div class="inline-block padding top">
                                <img src="/cdn/{{ Weet.user.profile_picture }}" class="profile-picture">
                            </div>
                            <div class="comment-body inline-block padding overflow-unset">
                                <span class="comment-info inline-block">
                                    <a href="/user/{{ Weet.user.username }}"><b class="comment-author">{{ Weet.user.nickname }}</b> @{{ Weet.user.username }}</a> {% if Weet.user.private == 't' %}<i class="far fa-lock"></i>{% endif %}
                                    <span class="caption">{{ Weet.feed_created|timeago }}</span>
                                </span>

                                <div class="dropdown inline-block float-right bottom">
                                    <div class="dropdown-show"></div>
                                    <div class="dropdown-content">
                                        {% if Weet.user.username != Session.Handle %}
                                            <span class="block-user-action" data-target="{{ Weet.user.id }}">block <b>@{{ Weet.user.username }}</b></span>
                                        {% else %}
                                            <span class="delete-weet-action" data-target="{{ Weet.feed_id }}">delete weet</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <span class="comment-text inline-block">{{ Weet.feed_text|escape|combined|raw|nl2br }}</span>
                                {% if Weet.reweet is defined %}
                                    <div class="reweet padding" data-target-url="/user/{{Weet.reweet.user.username }}/{{ Weet.reweet.feed_id }}">
                                        <b class="comment-author">{{ Weet.reweet.user.nickname }}</b> <span class="fake-link">@{{ Weet.reweet.user.username }}</span><br>
                                        <span class="comment-text inline-block">{{ Weet.reweet.feed_text|escape|combined|raw|nl2br }}</span>
                                    </div>
                                {% endif %}
                                <div class="comment-actions">
                                    <a href="/user/{{ Weet.user.username }}/{{ Weet.feed_id }}">
                                        <span class="comment-action inline-block">
                                            <span class="comment-action-text">{{ Weet.replies }}</span> 
                                            <i class="far fa-comment"></i>
                                        </span>
                                    </a>
                                    <a href="/feed?intent=%0A%0Ahttps://genericlink.com/user/{{ Weet.user.username }}/{{ Weet.feed_id }}">
                                        <span class="comment-action inline-block">
                                            <span class="comment-action-text">{{ Weet.feed_reweets }}</span> 
                                            <i class="far fa-retweet"></i>
                                        </span>
                                    </a>
                                    <span class="comment-action comment_like_reply inline-block {% if Weet.liked %}active{% endif %}" data-comment-id="{{ Weet.feed_id }}">
                                        <span class="comment-action-text">{{ Weet.likes }}</span> 
                                        <i class="far fa-thumbs-up"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% elseif Weet.original == true %}
                        <div class="weet">
                            <div class="inline-block padding top">
                                <img src="/cdn/{{ Weet.user.profile_picture }}" class="profile-picture">
                            </div>
                            <div class="comment-body inline-block padding">
                                <span class="comment-info inline-block">
                                    <a href="/user/{{ Weet.user.username }}"><b class="comment-author">{{ Weet.user.nickname }}</b> @{{ Weet.user.username }}</a> {% if Weet.user.private == 't' %}<i class="far fa-lock"></i>{% endif %}
                                    <span class="caption">{{ Weet.feed_created|timeago }}</span>
                                </span>
                                <span class="comment-text inline-block">{{ Weet.feed_text|escape|combined|raw|nl2br }}</span>
                                {% if Weet.reweet is defined %}
                                    <div class="reweet padding" data-target-url="/user/{{Weet.reweet.user.username }}/{{ Weet.reweet.feed_id }}">
                                        <b class="comment-author">{{ Weet.reweet.user.nickname }}</b> <span class="fake-link">@{{ Weet.reweet.user.username }}</span><br>
                                        <span class="comment-text inline-block">{{ Weet.reweet.feed_text|escape|combined|raw|nl2br }}</span>
                                    </div>
                                {% endif %}
                                <div class="comment-actions">
                                    <a href="/user/{{ Weet.user.username }}/{{ Weet.feed_id }}">
                                        <span class="comment-action inline-block">
                                            <span class="comment-action-text">{{ Weet.replies }}</span> 
                                            <i class="far fa-comment"></i>
                                        </span>
                                    </a>
                                    <a href="/feed?intent=%0A%0Ahttps://genericlink.com/user/{{ Weet.user.username }}/{{ Weet.feed_id }}">
                                        <span class="comment-action inline-block">
                                            <span class="comment-action-text">{{ Weet.feed_reweets }}</span> 
                                            <i class="far fa-retweet"></i>
                                        </span>
                                    </a>
                                    <span class="comment-action comment_like inline-block {% if Weet.liked %}active{% endif %}" data-comment-id="{{ Weet.feed_id }}">
                                        <span class="comment-action-text">{{ Weet.likes }}</span> 
                                        <i class="far fa-thumbs-up"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="weet">
                <div class="inline-block padding top">
                    <img src="/cdn/{{ Weet.user.profile_picture }}" class="profile-picture">
                </div>
                <div class="comment-body inline-block padding">
                    <span class="comment-info inline-block">
                        <a href="/user/{{ Weet.user.username }}"><b class="comment-author">{{ Weet.user.nickname }}</b> @{{ Weet.user.username }}</a> {% if Weet.user.private == 't' %}<i class="far fa-lock"></i>{% endif %}
                        <span class="caption">{{ Weet.feed_created|timeago }}</span>
                    </span>
                    <span class="comment-text inline-block">{{ Weet.feed_text|escape|combined|raw|nl2br }}</span>
                    {% if Weet.reweet is defined %}
                        <div class="reweet padding" data-target-url="/user/{{Weet.reweet.user.username }}/{{ Weet.reweet.feed_id }}">
                            <b class="comment-author">{{ Weet.reweet.user.nickname }}</b> <span class="fake-link">@{{ Weet.reweet.user.username }}</span><br>
                            <span class="comment-text inline-block">{{ Weet.reweet.feed_text|escape|combined|raw|nl2br }}</span>
                        </div>
                    {% endif %}
                    <div class="comment-actions">
                        <a href="/user/{{ Weet.user.username }}/{{ Weet.feed_id }}">
                            <span class="comment-action inline-block">
                                <span class="comment-action-text">{{ Weet.replies }}</span> 
                                <i class="far fa-comment"></i>
                            </span>
                        </a>
                        <a href="/feed?intent=%0A%0Ahttps://genericlink.com/user/{{ Weet.user.username }}/{{ Weet.feed_id }}">
                            <span class="comment-action inline-block">
                                <span class="comment-action-text">{{ Weet.feed_reweets }}</span> 
                                <i class="far fa-retweet"></i>
                            </span>
                        </a>
                        <span class="comment-action comment_like_reply inline-block {% if Weet.liked %}active{% endif %}" data-comment-id="{{ Weet.feed_id }}">
                            <span class="comment-action-text">{{ Weet.likes }}</span> 
                            <i class="far fa-thumbs-up"></i>
                        </span>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="padding">
        <h3>reply to a weet</h3>
        {% if Reply == false %}
            <form class="form" method="post" action="/actions/post/{{ Weet.feed_id }}/reply">
                <div class="input-group">
                    <textarea type="text" id="js_comment" class="full" required placeholder="today i ..." name="comment" aria-label="Weet"></textarea>
                </div>
                <span class="caption"><span id="js_char_remaining">200</span> characters left</span>
                <input type="submit" value="post" id="js_submit" aria-label="Post">
            </form>
        {% else %}
            <form class="form" method="post" action="/actions/reply/{{ Target }}/reply">
                <div class="input-group">
                    <textarea type="text" id="js_comment" class="full" required placeholder="today i ..." name="comment" aria-label="Weet"></textarea>
                </div>
                <span class="caption"><span id="js_char_remaining">200</span> characters left</span>
                <input type="submit" value="post" id="js_submit" aria-label="Post">
            </form>
        {% endif %}
    </div>
    <hr>
    <div class="padding no-padding-top">
        {% for Weet in Thread %}
            {% if Weet.id is defined and Weet.user.visible %}
                <div class="weet">
                    <div class="inline-block padding top">
                        <img src="/cdn/{{ Weet.user.profile_picture }}" class="profile-picture">
                    </div>
                    <div class="comment-body inline-block padding">
                        <span class="comment-info inline-block">
                            <a href="/user/{{ Weet.user.username }}"><b class="comment-author">{{ Weet.user.nickname }}</b> @{{ Weet.user.username }}</a> {% if Weet.user.private == 't' %}<i class="far fa-lock"></i>{% endif %}
                            <span class="caption">{{ Weet.feed_created|timeago }}</span>
                        </span>
                        <span class="comment-text inline-block">{{ Weet.feed_text|escape|combined|raw|nl2br }}</span>
                        {% if Weet.reweet is defined %}
                            <div class="reweet padding" data-target-url="/user/{{Weet.reweet.user.username }}/{{ Weet.reweet.feed_id }}">
                                <b class="comment-author">{{ Weet.reweet.user.nickname }}</b> <span class="fake-link">@{{ Weet.reweet.user.username }}</span><br>
                                <span class="comment-text inline-block">{{ Weet.reweet.feed_text|escape|combined|raw|nl2br }}</span>
                            </div>
                        {% endif %}
                        <div class="comment-actions">
                            <a href="/user/{{ Weet.user.username }}/{{ Weet.feed_id }}">
                                <span class="comment-action inline-block">
                                    <span class="comment-action-text">{{ Weet.replies }}</span> 
                                    <i class="far fa-comment"></i>
                                </span>
                            </a>
                            <a href="/feed?intent=%0A%0Ahttps://genericlink.com/user/{{ Weet.user.username }}/{{ Weet.feed_id }}">
                                <span class="comment-action inline-block">
                                    <span class="comment-action-text">{{ Weet.feed_reweets }}</span> 
                                    <i class="far fa-retweet"></i>
                                </span>
                            </a>
                            <span class="comment-action comment_like_reply inline-block {% if Weet.liked %}active{% endif %}" data-comment-id="{{ Weet.feed_id }}">
                                <span class="comment-action-text">{{ Weet.likes }}</span> 
                                <i class="far fa-thumbs-up"></i>
                            </span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if Thread|length == 0 %}
            <br>
            <div class="center caption padding-top padding-bottom">
                There appears to be no replies on this Weet. Be the first to reply!
            </div>
        {% endif %}
    </div>
    <script>
        let characters = 200;
        let characterCounter = $('span#js_char_remaining');
        let submitButton = $('#js_submit')

        $("#js_comment").on('input', function() {
            let value = $('textarea#js_comment').val()
            let charactersLeft = characters - value.length;

            characterCounter.text(charactersLeft);

            if(charactersLeft < 0) {
                characterCounter.css("color", "darkred");
                submitButton.prop("disabled", true);
            } else {
                characterCounter.css("color", "unset");
                submitButton.prop("disabled", false);
            }
        });
    </script>
{% endblock %}