{% extends "misc/base.twig" %}
{%- block Header -%}
    {{ parent() }}
    {#- This is fucking TERRIBLE! -#}
    <script src="/scripts/no-header.js"></script>
    {% if (Session.Handle == User.username) or (showUnmoderatedCSS and User.moderated_css == "f") or (User.moderated_css == "t") or (Args.unmoderated is defined) %}
    <link href="/cdn/css/{{ User.username_md5 }}" rel="stylesheet">
    {% endif %}
{% endblock %}
{%- block Container -%}
    <style>
        /*  TODO: Don't inline style any of this stuff!
                  Put all user CSS in a MD5 hashed thingymcbob,
                  could just be a hash of their username then
                  accessible by /css/.
        */

        #banner {
            background-color: #e1e1e1;
            background-image: url("/cdn/{{ User.banner }}");
            border-bottom: var(--primary-border-color);
        }

        .user-album-container {

        }
    </style>
    <div class="alternative-header">
        <h3 class="inline-block"><a href="/">witter</a></h3>
        <div class="links inline-block float-right no-border-left">
            <a href="/user/{{ Session.Handle }}">@{{ Session.Handle }}</a>
            <a href="/feed">feed</a>
            <a href="/settings">settings</a>
        </div>
    </div>
    <div class="padding header user-header" id="banner">
        <!-- TODO: This looks extremely ugly on the templating side. Don't do this! -->
        <div class="header-items right">
            <a href="/"><h1>[witter]</h1></a>
            <div class="right align-right">
                {% if Session.Handle is not defined %}
                    <a href="/users">users</a>
                    <a href="/feed">feed</a>
                    <a href="/">login</a>
                {% else %}
                    <a href="/user/{{ Session.Handle }}">@{{ Session.Handle }}</a>
                    <a href="/feed">feed</a>
                    <a href="/settings">settings</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="padding user-panel">
        <div class="user-card wide">
            <img class="profile-picture" src="/cdn/{{ User.profile_picture }}">
            <div class="user-metadata inline-block top">
                <b>{% if User.private == 't' %}<i class="far fa-lock"></i>{% endif %} {{ User.nickname }}</b>
                <span class="caption inline-block">@{{ User.username }}</span><br>
                <span class="caption">joined {{ User.created|timeago }}</span><br>
                <span class="caption">last online {{ User.last_login|timeago }}</span>
                <button 
                    class="button left follow_button" 
                    {% if Session.Handle == User.username %}
                    disabled
                    title="You cannot follow yourself!"
                    {% endif %}
                    data-following="{% if User.following and Session.Handle != User.username %}true{% else %}false{% endif %}" 
                    data-follow-target="{{ User.id }}" 
                    aria-label="Follow">
                    {% if User.following and Session.Handle != User.username %}unfollow{% else %}follow{% endif %}
                </button>
            </div>
        </div>

        <div class="tab-group">
            <a href="/user/{{ User.username }}"><div class="tab {% if ActiveTab == 'all' %}primary{% endif %}">weets</div></a>
            <a href="/media/{{ User.username }}"><div class="tab {% if ActiveTab == 'media' %}primary{% endif %}">media</div></a>
            <a href="/likes/{{ User.username }}"><div class="tab {% if ActiveTab == 'likes' %}primary{% endif %}">liked weets</div></a>
        </div>
    </div>
    {% if isAdmin %}
    <div class="padding">
        <a href="/cdn/css/{{ User.username_md5 }}">view css</a> &bull; <a href="#" class="admin-moderate-item">moderate user</a> 
    </div>
    {% endif %}
    <div class="padding user-infobox">
        <div class="user-description">
            <span class="caption">{{ User.description }}</span>
        </div>
        <div class="user-follow-metric">
            <span class="caption"><b><a class="keep-color" href="/user/followers/{{ User.username }}">{{ User.metrics.follower_count|number_format }}</b> follower(s), </a></span>
            <span class="caption"><b><a class="keep-color" href="/user/following/{{ User.username }}">{{ User.metrics.following_count|number_format }}</b> following</a></span>
        </div>
    </div>
    <hr>
    <div class="padding">
        {% if User.visible %}
            {% for Weet in Feed %}
                {% if Weet.id is defined %}
                    <div class="weet">
                        <div class="inline-block padding top">
                            <img src="/cdn/{{ Weet.user.profile_picture }}" class="profile-picture">
                        </div>
                        <div class="comment-body inline-block padding">
                            <span class="comment-info inline-block">
                                <a href="/user/{{ Weet.user.username }}"><b class="comment-author">{{ Weet.user.nickname }}</b> @{{ Weet.user.username }}</a> {% if Weet.user.private == 't' %}<i class="far fa-lock"></i>{% endif %}
                                <span class="caption">{{ Weet.feed_created|timeago }}</span>
                            </span>
                            <span class="comment-text inline-block">{{ Weet.feed_text|escape|linkify|mentionify|raw|nl2br }}</span>
                            {% if Weet.reweet is defined %}
                                <div class="reweet padding" data-target-url="/user/{{Weet.reweet.user.username }}/{{ Weet.reweet.feed_id }}">
                                    <b class="comment-author">{{ Weet.reweet.user.nickname }}</b> <span class="fake-link">@{{ Weet.reweet.user.username }}</span><br>
                                    <span class="comment-text inline-block">{{ Weet.reweet.feed_text|escape|linkify|mentionify|raw|nl2br }}</span>
                                </div>
                            {% endif %}
                            <div class="comment-actions">
                                <a href="/user/{{ Weet.user.username }}/{{ Weet.feed_id }}">
                                    <span class="comment-action inline-block">
                                        <span class="comment-action-text">{{ Weet.replies }}</span> 
                                        <i class="far fa-comment"></i>
                                    </span>
                                </a>
                                <a href="/feed?intent=%0A%0Ahttps://genericlink.com/user/{{ Weet.user.username }}/{{ Weet.feed_id }}">
                                    <span class="comment-action inline-block">
                                        <span class="comment-action-text">{{ Weet.feed_reweets }}</span> 
                                        <i class="far fa-retweet"></i>
                                    </span>
                                </a>
                                <span class="comment-action comment_like inline-block {% if Weet.liked %}active{% endif %}" data-comment-id="{{ Weet.feed_id }}">
                                    <span class="comment-action-text">{{ Weet.likes }}</span> 
                                    <i class="far fa-thumbs-up"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if Feed|length == 0 %}
                <div class="center caption padding-top padding-bottom">
                    {% if ActiveTab == 'all' %}
                        This user has no Weets.
                    {% elseif ActiveTab == 'likes' %}
                        This user has no liked Weets.
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <div class="center caption padding-top padding-bottom">
                This weeter's weets are private. They have to follow you first in order for you to see their weets.
            </div>
        {% endif %}
    </div>
{% endblock %}